/* General Styling */

*{
	margin: 0px;
	padding: 0px;
}

#body{
	background-color: black;
	color: white;
}
	.centerText{
		text-align: center;
	}

/* Admin Navigation Bar Styling */

#navbar{
	padding: 3px;
	background-color: orange;
	font-weight: bold;
}
	.navbarPill{
		margin-right: 15px;
		margin-left: 15px;
	}
	.navbarOn{
		border: 2px solid black;
		border-radius: 10px;
		background-color: black;
	}
	.navbarOff{
		border: 2px solid black;
		border-radius: 10px;
	}
	.navbarLinks{
		color: black;
	}
	.navbarLinksOn{
		color: orange;
	}
	#signOut{
		margin-right: 25px;
	}

/* Admin Photo Album Styling */

	.photoRoll{
		border: 5px solid white;
		padding: 2px;
		width: 100%;
		height: 100%;
		display: inline-block;
		margin: 10px;
		display: block;
	}
	.photoBtns{
		margin: 0 auto;
		color: black;
		background-color: orange;
		padding: 2px;
		border-radius: 2px;
		border: 3px solid white;
		display: block;
	}

/* Admin Menu Forms Page Styling */

.menuForm{
	width: 700px;
	margin: 0 auto;
}
	.menuFormLegend{
		width: 700px;
		margin: 0 auto;
		color: orange;
	}
		.legendOrange{
			color: orange;
		}
	.menuFormLabel{
		display: inline-block;
		text-align: right;
		vertical-align: top;
		width: 150px;
	}
	.menuFormInput{
		color: black;
		display: inline-block;
		width: 350px;
		height: 40px;
		border-radius: 5px;
	}

	.menuFormTextarea{
		color: black;
		display: inline-block;
		width: 350px;
		height: 75px;
		border-radius: 5px;
	}
	.formButton{
		width: 350px;
		margin-left: 150px;
	}



	@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:40px;
        line-height:30px;
        background:#f4f4f4;
    } 
}
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}        
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
    select {
        height:40px;
        line-height:40px;
    }     
}